.article{
  border: 1px solid black;
  margin-top: 10px;
}

.article-change-content{
  display: none;
}

.btn{
  margin-top: 2px;
}

.search-container{
  margin-top: 50px;
}

.cancel-button{
  display: none;
}

.screen-lock{
  position: fixed;
  width: 2000px;
  height: 100vh;
  background: #333;
  opacity: 0.6;
  display: none;
  z-index: 2;
}

.subscribe-container{
  position: fixed;
  top: 150px;
  left: 300px;
  height: 200px;
  width: 70%;
  background: white;
  border: 1px solid black;
  display: none;
  z-index: 3;
}

.tags-container{
  margin-top: 20px;
}

.article-show-container{
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.comments{
  border-radius: 10px;
  padding: 10px;
  border: 1px solid black;
}

.comment-container{
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #CCC;
  margin-bottom: 20px;
}