.add-container{
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 30px;
  border-radius: 10px;
}

.task{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

.title{
  border-radius: 10px;
  background: #fff;
}

.comment-container{
  padding-top: 20px;
}

.comment{
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.new-comment{
  margin-top: 20px;
}

.new-comment *{
  margin-top: 5px;
}

.change-title{
  display: none;
}

.change-title button{
  margin-top: 10px;
}

.active{
}

.non-active{
  opacity: 0.3;
}


